<body>
    <main class="product-page">

        <div class="left-column">
            <img class="active" src="perfume1.webp" alt="Perfume 1">
        </div>

        <div class="right-column">
            <div class="product-description">
                <span>Perfume</span>
                <h1>Perfume 1</h1>
                <p>Descrição do perfume 1.</p>

            </div>



            <div class="product-configuration">
                <div class="product-color">
                    <span>Color</span>


                    <div class="color-choose">
                        <div>
                            <input data-image="perfume1.webp" type="radio" id="blue" name="color" value="blue" checked>
                            <label for="blue"><span></span></label>
                        </div>

                        <div>
                            <input data-image="perfume2.webp" type="radio" id="red" name="color" value="red">
                            <label for="red"><span></span></label>
                        </div>

                        <div>
                            <input data-image="perfume2.webp" type="radio" id="black" name="color" value="black">
                            <label for="black"><span></span></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cable-configuration">
                <span>Perfume 1</span>

                <div class="cable-choose">
                    <button>Perfume 1</button>

                </div>

                <a href="http://example.com">Mais informações</a>

            </div>
        </div>

        <div class="product-price">
            <span>R$ 99,99</span>
            <a href="#" class="cart-btn">Carrinho 🛒</a>
            <a href="#" class="cart-btn">Comprar 💵</a>

        </div>

    </main>
</body>