<section class="banners">
    <div class="banner">
      <img src="banner.jpg" alt="Banner 1">
    </div>
</section>

  <h2>promoções!</h2>
 
<section class="produtos">
    <div class="produto">
    <div class="img">
      <img src="perfume1.webp" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>
    <button routerLink="/produto">Comprar</button>
    <button>carrinho🛒</button>

  </div>

  <div class="produto">
    <div class="img">
      <img src="perfume1.webp" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>
    <button>Comprar</button>
    <button>carrinho🛒</button>

  </div>

  <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>
    <button>Comprar</button>
    <button>carrinho🛒</button>


  </div>

  <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>

    <button>Comprar💵</button>
    <button>carrinho🛒</button>

  </div>

   

  
</section>


<section class="produtos">
    <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>

    <button>Comprar💵</button>
    <button>carrinho🛒</button>

  </div>

   <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>

    <button>Comprar💵</button>
    <button>carrinho🛒</button>

  </div>

     <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>

    <button>Comprar💵</button>
    <button>carrinho🛒</button>

  </div>

     <div class="produto">
    <div class="img">
      <img src="#" alt="Produto 1">
    </div>
    <h3 class="titleProduto">Perfume</h3>
    <p class="descricao"><strong>Descrição:</strong> </p>
    <p>R$ 99,99</p>

    <button>Comprar💵</button>
    <button>carrinho🛒</button>

  </div>

</section>
